During checkout, the app returns a receipt that includes a subtotal, tax, and total.
The tax rate is 13%.

               Test Cases
----------------------------------------
1. subtotal equals sum of all prices
2. ensure tax amount returns correct amount
3. total equals subtotal + tax